[buildout]
prefer-final = false
newest = false
download-cache = .cache
develop = .
parts = 

[project]
name = infi.django_rest_utils
company = Infinidat
namespace_packages = ['infi']
install_requires = [
	'djangorestframework>=3.5.3',
	'docopt',
	'setuptools',
	'unicodecsv'
	]
version_file = src/infi/django_rest_utils/__version__.py
description = Enhancements to django-rest-framework
long_description = Enhancements to django-rest-framework
console_scripts = [
	'rest_utils = infi.django_rest_utils.rest_utils:rest_utils'
	]
gui_scripts = []
package_data = [
	'*.html',
	'*.js',
	]
upgrade_code = {9744ba6c-4021-11e5-a306-7071bc32067f}
product_name = infi.django_rest_utils
post_install_script_name = None
pre_uninstall_script_name = None

[isolated-python]
recipe = infi.recipe.python
version = v2.7.8.8

[setup.py]
recipe = infi.recipe.template.version
input = setup.in
output = setup.py

[__version__.py]
recipe = infi.recipe.template.version
output = ${project:version_file}

[development-scripts]
dependent-scripts = true
recipe = infi.recipe.console_scripts
eggs = ${project:name}
	ipython
	nose
	mock
	infi.unittest
	infi.traceback
	zc.buildout
interpreter = python

[eclipse]
recipe = rbco.recipe.pyeclipse
project-name = ${project:name}
project-directory = ${buildout:directory}
python-version = 2.7
source-resources = ${buildout:directory}/src

[pydev]
recipe = pb.recipes.pydev
eggs = ${development-scripts:eggs}

[pack]
recipe = infi.recipe.application_packager

[sublime]
recipe = corneti.recipes.codeintel
eggs = ${development-scripts:eggs}

