<h3>
    Advanced Filtering
    <button class="btn btn-default btn-sm" type="button" data-toggle="collapse" data-target="#filtering-collapse"><i class="glyphicon glyphicon-chevron-down"></i></button>
</h3>

<div class="collapse {% if active_filters %}in{% endif %}" id="filtering-collapse">

    <p>
    The syntax for filtering objects by specific fields is:
    </p>

    <p>
        <code>
        {{ url }}?&lt;field name&gt;=&lt;oper&gt;:&lt;value&gt;[&amp;&lt;field name&gt;=&lt;oper&gt;:&lt;value&gt;]*
        </code>
    </p>

    <p>The following fields can be used for filtering:</p>
    <form onsubmit="advanced_search(); return false;">
        <table class="table" style="width: auto;" id="advanced_filters">
            <tbody id="fields_table">

            </tbody>
            <tbody>
                <tr>
                     <td colspan="3">
                         <button type="submit" class="btn btn-success">Apply</button>
                    </td>
                    <td colspan="2">
                        <div style="float: right;">
                        <button  type="button" id="addMoreFilters" onclick="create_filter()" class="btn btn-primary">Add More Filters</button>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </form>

    <p>
    These are the operators that can be used in filters:
    </p>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Operator</th>
                <th>Expects</th>
                <th>Description</th>
            </tr>
            {% for operator in operators %}
                <tr>
                    <td>{{ operator }}</td>
                    <td>{{ operator.get_expected_value_description }}</td>
                    <td>{{ operator.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>Notes:</p>
    <ul>
        <li>When filtering on more than one field, the conditions are ANDed together.</li>
        <li>String comparisons are case sensitive except for the <tt>like</tt> operator.</li>
        <li>Datetime values should be specified in ISO-8601 format: <tt>yyyy-mm-dd[Thh:mm[:ss][Z]]</tt>.
            <br>For example <tt>2014-01-17</tt> or <tt>2014-12-31T23:59:59Z</tt></li>
        <li>To filter on boolean fields use 1 for true and 0 for false.</li>
        <li>Lists of values should be comma-separated, and optionally enclosed in parentheses or square brackets.
            <br>For example <tt>red,blue,green</tt> or <tt>[red,blue,green]</tt></li>
    </ul>

</div>

<script>

    {% include "django_rest_utils/functions.js" %}

    function advanced_search() {
        var uri = window.location.toString();
        // Remove all current filters in the uri
        fields_info.forEach(function(field) {
            uri = removeQueryStringParameter(field.name, uri);
        });
        // Remove the page param from the url
        uri = removeQueryStringParameter('page', uri);
        // Add to the uri any filters that exists in the rows of the table advanced_filters
        $('#advanced_filters tr').each(function() {
            // Get the field name and operator
            var field = $(this).find('.select-field').val();
            var operator =  $(this).find('.select-operator').val();
            // Get the field value (concatenate all input fields to support capacity datatype)
            var value = '';
            $(this).find(".td-input :input").each(function(index, input) {
                value += $(input).val();
            });
            // Update the query string
            if (field && value) {
                var value = operator + ':' + encodeURIComponent(value);
                uri = updateQueryStringParameter(field, value, uri);
            }
            else if (field && (operator === 'isnull' || operator === 'isnotnull')) {
                var value = operator + ':' + '1';
                uri = updateQueryStringParameter(field, value, uri);
            }
            else {
                uri = removeQueryStringParameter(field, uri);
            }
        });
        // Navigate
        window.location = uri;
    }

    //GLOBAL ARRAYS TO BE USED IN THE FOLLOWING FUNCTIONS

    var fields_info = [
        {name: "", datatype: ""},
        {% for field in fields %}
            {name: "{{ field.name }}", datatype: "{{ field.datatype }}"},
        {% endfor %}
    ];

    var operators_info = [
        {% for operator in operators %}
            {name: "{{operator.name}}", title: "{{operator.title}}"},
        {% endfor %}
    ];

    var active_filters = [
        {% for filter in active_filters %}
            {name: "{{filter.0}}", value: "{{filter.1}}"},
        {% endfor %}
    ];

    var operator_allow_multiple = ['in','out'];

    window.addEventListener("load", function(event) {
        // if there is active filter, create filter from each active filter
        if (active_filters && active_filters.length) {
            active_filters.forEach(function(item) {
                create_filter(item);
            });
        }
        // if there is no active filter, create 3 new empty filters
        else {
             create_filter();
             create_filter();
             create_filter();
        }

        // ADD LISTENER TO ANY CHANGE IN THE TABLE IN SELECTOR OF FIELD
        // BUILDING A NEW INPUT TAG ACCORDING TO THE CURRENT FIELD AND SELECTED OPERATOR
        $('#fields_table').on('change', '.select-field', function(e) {
            var target_ = $(e.target);
            var data_type = target_.find(':selected').attr('data-type');
            if (!data_type) {
                data_type = 'unknown';
            }
            var parent_tr = $(e.target).closest('tr');
            parent_tr.find('.td-type').text('(' + data_type + ')');
            operator_tag = parent_tr.find('.select-operator');
            if (target_.val()) {
                selected_operator = operator_tag.find(':selected').attr('value');

                var new_input_tag = build_input_field(data_type, selected_operator);

                if (selected_operator === 'isnull' || selected_operator === 'isnotnull') {
                    new_input_tag.hide();
                }
            }
            else {
                var new_input_tag = $('<input class="form-control input-value" type="text">');
                new_input_tag.attr('readonly', true);
                operator_tag.val('eq');
            }

            parent_tr.find('.td-input').html(new_input_tag);
        });

        // ADD LISTENER TO ANY CHANGE IN OPERATOR
        // CHANGE THE INPUT PATTERN ACCORDING TO THE CURRENT OPERATOR AND SELECTED FIELD
        $('#fields_table').on('change', '.select-operator', function(e) {
            var target_ = $(e.target);
            var selected_operator = target_.find(':selected').attr('value');
            var parent_tr = $(e.target).closest('tr');
            var select_field_input= parent_tr.find('.select-field');
            var data_type = select_field_input.find(':selected').attr('data-type');

            var input_tag = parent_tr.find('input');

            if (selected_operator === 'isnull' || selected_operator === 'isnotnull') {
                input_tag.hide();
            } else {
                input_tag.show();
                input_pattern = build_input_pattern(data_type, selected_operator);
                pattern = input_pattern[0];
                title = input_pattern[1];
                if (pattern != '') {
                    input_tag.attr('pattern', pattern).attr('title', title);
                }
            }
        });

        $('#fields_table').on('click', '.remove-button', function(e) {
            $(e.target).closest('tr').remove();
        });
    });


    function build_input_pattern(input_type, operator) {
        //helper function to build the pattern attribute of the input field
        var pattern = ''
        var title = ''
        if (input_type == 'integer') {
            // if its integer and multiple values is allowed-> add a pattern to allow a list of integers
            if (operator_allow_multiple.includes(operator)) {
                pattern =  '^\\[\\d+(,\\d+)*\\]|\\d+(,\\d+)*|\\(\\d+(,\\d+)*\\)$' //list: [0-9]+(,[0-9]+)*, between: '([0-9]+)*(,[0-9]+)'
                title = 'Integer list can contain only numbers seperated by a comma. It can be enclosed by () or []'
            }
            else if (operator == 'between') {
            // if is integer and operator between-> add a pattern to allow a comma separated pair of integers
                pattern = '(\\d+)*(,\\d+)'
                title = 'Operator Between can contain only two values separated by a comma'
            }
            // multiple values is not allowed-> add pattern to allow a single integer only
            else {
                pattern = '^\\d+$';
                title = 'Integer field can contain only numbers'
            }
        }
        else if (['double', 'float', 'capacity'].includes(input_type)) {
            // if its double/float and multiple values is allowed-> add a pattern to allow a list of decimals
            if (operator_allow_multiple.includes(operator)) {
                pattern = '^\\d+([.]\\d+)?(,\\d+([.]\\d+)?)*|\\[\\d+([.]\\d+)?(,\\d+([.]\\d+)?)*\\]|\\(\\d+([.]\\d+)?(,\\d+([.]\\d+)?)*\\)$';
                title = 'A list of decimal numbers seperated by a comma is expected. It can be enclosed by () or []'
            }
            else if (operator == 'between') {
            // if is double/float and operator between-> add a pattern to allow a comma separated pair of decimals
                pattern = '^(\\d+([.]\\d+)?)*(,\\d+([.]\\d+)?)$'
                title = 'Operator Between can contain only two decimal values seperated by a comma'
            }
            // multiple values is not allowed-> add a pattern to allow a single float only
            else {
               pattern = '^\\d+([.]\\d+)?$';
               title = 'A decimal number is expected'
            }
        }
        return [pattern, title];
    };


    function build_input_field(input_type, operator) {
        if (input_type == 'boolean') {
            var input_field  = $("<select class='form-control input-value'><option value='1'>true</option><option value='0'>false</option</select>");
        }
        else {
            // if the input_type is not boolean, its type will be text and the content will be validated according to the
            // calculated pattern
           var input_field  = $("<input type='text' class='form-control input-value'></input>");
           // find out what should be the pattern and the title of the input field
           input_pattern = build_input_pattern(input_type, operator);
           pattern = input_pattern[0];
           title = input_pattern[1];
           if (pattern != '') {
                input_field.attr('pattern', pattern).attr('title', title);
           }
        };
        // For capacity fields, add a dropdown of units
        if (input_type == 'capacity') {
            var options = [];
            $.each(['bytes', 'KiB', 'MiB', 'GiB', 'TiB', 'PiB', 'EiB', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB'], function(i, unit) {
                var value = (i ? unit : '');
                options.push('<option value="' + value + '">' + unit + '</option>');
            });
            var select = '<select class="form-control" style="display: inline; width: 35%; margin-left: 5%;">' + options.join('') + '</select>';
            input_field.attr('style', 'display: inline; width: 60%;');
            input_field = $('<div/>').append(input_field).append(select);
        }
        return input_field;
    };


    function create_filter(filter_) {
        var tr_ = $('<tr/>');
        var td_field = $('<td/>');
        // create the select input of field
        var select_field = $('<select/>').attr('class', 'form-control select-field').appendTo(td_field);

        $(fields_info).each(function() {
            select_field.append($('<option>').attr('value',this.name).text(this.name).attr('data-type', this.datatype));
        });

        td_field.appendTo(tr_);

        var td_operator = $('<td/>');
        // create the select input of operator
        var div1 = $('<div/>').attr('class', 'form-inline');
        var div2 = $('<div/>').attr('class', 'form-group');

        var select_operator = $('<select/>').attr('class', 'form-control select-operator').appendTo(div2);

        $(operators_info).each(function() {
            select_operator.append($('<option>').attr('value',this.name).text(this.title));
        });

        var td_input = $('<td class="td-input"/>');

        div2.appendTo(div1);
        div1.appendTo(td_operator);
        td_operator.appendTo(tr_);
        td_input.appendTo(tr_);

        var td_type = $('<td/>').attr('style', 'vertical-align: middle;text-align: center;').attr('class', 'td-type').text('(' + 'unknown' + ')');
        td_type.appendTo(tr_);

        // if there is a given filter, assign its details in the filter inputs
        if (filter_ != undefined) {
            $(select_field).val(filter_.name);
            // find the data type of the filter_ and insert it to the type column
            var data_type = $(select_field).find(':selected').attr('data-type');
            td_type.text('(' + data_type + ')');

            // Get operator and value
            var operator = filter_.value.substr(0,filter_.value.indexOf(':')) || 'eq';
            var value = filter_.value.substr(filter_.value.indexOf(':') + 1, filter_.value.length);

            // create input tag according to the data type and the operator
            input_tag = build_input_field(data_type, operator)
            input_tag.appendTo(td_input);

            if (operator == 'isnull' || operator == 'isnotnull') {
                td_input.hide();
                //if value = 0, need to change isnull to isnotnull and vice versa
                if (value == 0) {
                    operator = operator == 'isnull' ? 'isnotnull' : 'isnull';
                }
            }
            else if (data_type == 'capacity') {
                // Split capacity units from the value
                var re = /^(.*[^a-zA-Z ])\s*([a-zA-Z]*)$/
                var matches = re.exec(value);
                if (matches) {
                    td_input.find('input').val(matches[1]);
                    td_input.find('select').val(matches[2]);
                }
            }
            else {
                input_tag.val(value);
            }
            select_operator.val(operator);
         }
         else {
            // there is no active filter, make the input as readonly
            var input_tag = $('<input/>').attr('class', 'form-control input-value').attr('type', 'text');
            input_tag.attr('readonly', true).appendTo(td_input);
         }

        var td_remove = "<td style='vertical-align: middle;'><button type='button' class='btn-xs btn-danger  remove-button' title='remove this filter'>X</button></td>"

        $(td_remove).appendTo(tr_);

        $(tr_).appendTo('#fields_table');

    }

</script>
