<h3>
    {{ renderer.format|upper }} Output
    <button class="btn btn-default btn-sm" type="button" data-toggle="collapse" data-target="#{{ renderer.format }}-output-collapse"><i class="glyphicon glyphicon-chevron-down"></i></button>
</h3>

<div class="collapse" id="{{ renderer.format }}-output-collapse">

    <p>
        To select this output format, pass <code>format={{ renderer.format }}</code> in the query string
        or an <code>Accept: {{ renderer.media_type }}</code> HTTP header.
    </p>

    <p>
        The response always contains a JSON object with 3 fields:
    </p>
    <ul>
        <li><b>result</b> - the response data itself, or null in case of error.</li>
        <li><b>metadata</b> - additional information about the response, for example pagination parameters.</li>
        <li><b>error</b> - null in case of success, otherwise information about the error.</li>
    </ul>

    <p>
        Example of a successful response:
    </p>
    <pre class="prettyprint">
{
    "error": null,
    "result": {
        ... data ...
    },
    "metadata": {
        "ready": true
    }
}
    </pre>

    <p>
        Example of a error response:
    </p>
    <pre class="prettyprint">
{
    "error": {
        "message": "Not found."
    },
    "result": null,
    "metadata": {
        "ready": true
    }
}
    </pre>

</div>

<h3>
    Plucking
    <button class="btn btn-default btn-sm" type="button" data-toggle="collapse" data-target="#plucking-collapse"><i class="glyphicon glyphicon-chevron-down"></i></button>
</h3>

<div class="collapse {% if current_plucking %}in{% endif %}" id="plucking-collapse">

    <p>To retrieve specific fields use:</p>

    <p>
        <code>
        {{ url }}?fields=&lt;field name&gt;[,&lt;field name&gt;]*
        </code>
    </p>

    <p>Note that field names may contain dots (".") to retrieve sub-fields.</p>

    <p>The following are the top-level fields that can be plucked:</p>
    <form onsubmit="pluck(); return false;">
        <table class="table" style="width: auto;" id="plucking-table">
            <tbody>
                {% for field in fields %}
                    <tr>
                        <th style="vertical-align: middle;">{{ field }}</th>
                        <td>
                            <input type="checkbox" id="pluck_{{ field }}" name="{{ field }}">
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <th>&nbsp;</th>
                    <td colspan="2">
                        <button type="submit" class="btn btn-primary">Apply</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>


</div>

<script>

    {% include "django_rest_utils/functions.js" %}

    function pluck() {
        var uri = window.location.toString();
        var value = "";
        $('#plucking-table input:checked').each(function() {
            if (value.length > 0) {
                value += ",";
            }
            value += $(this).attr("name");
        });
        uri = updateQueryStringParameter("fields", value, uri);
        window.location = uri;
    }

    {% for field in current_plucking %}
        document.getElementById("pluck_{{ field }}").checked = true;
    {% endfor %}

    function add_raw_button() {
        var nav = $("<nav/>").css("float", "left");
        var btn = $("<button/>").attr("class", "btn btn-primary").css("margin", "5px 0 10px 0").text("Raw");
        btn.click(function() {
            delimiter = window.location.href.indexOf("?") == -1 ? "?" : "&";
            window.location.href = window.location.href + delimiter + "format=json";
        });
        btn.appendTo(nav);
        nav.insertBefore($(".request-info"));
    }
    document.addEventListener("DOMContentLoaded", function(event) {
        add_raw_button();
    });

</script>