<style>
    {# Hide the "filters" button #}
    #content > button.btn-default {
        display: none;
    }
</style>

<h3>
    Ordering
    <button class="btn btn-default btn-sm" type="button" data-toggle="collapse" data-target="#ordering-collapse"><i class="glyphicon glyphicon-chevron-down"></i></button>
</h3>

<div class="collapse {% if ordering %}in{% endif %}" id="ordering-collapse">

    <p>
    To sort the results use:
    </p>

    <p>
        <code>
        {{ url }}?{{ ordering_param }}=&lt;field name&gt;[,&lt;field name&gt;]*
        </code>
    </p>

    <p>
        The default sorting order is ascending. To specify descending order, add a minus sign (-) before the field name.
    </p>

    <form onsubmit="sort(); return false;">
        <div class="form-inline" style="margin-bottom: 10px;">
            <div class="form-group">
                <label style="width: 75px;">Sort by:</label>
                <select name="sort-0-field" id="sort-0-field" class="form-control">
                    <option value=""></option>
                    {% for field in fields %}<option value="{{ field.name }}">{{ field.name }}</option>{% endfor %}
                </select>
                <select name="sort-0-dir" id="sort-0-dir" class="form-control">
                    <option value="">ascending</option>
                    <option value="-">descending</option>
                </select>
            </div>
        </div>

        <div class="form-inline" style="margin-bottom: 10px;">
            <div class="form-group">
                <label style="width: 75px;">Then by:</label>
                <select name="sort-1-field" id="sort-1-field" class="form-control">
                    <option value=""></option>
                    {% for field in fields %}<option value="{{ field.name }}">{{ field.name }}</option>{% endfor %}
                </select>
                <select name="sort-1-dir" id="sort-1-dir" class="form-control">
                    <option value="">ascending</option>
                    <option value="-">descending</option>
                </select>
            </div>
        </div>

        <div class="form-inline" style="margin-bottom: 10px;">
            <div class="form-group">
                <label style="width: 75px;">Then by:</label>
                <select name="sort-2-field" id="sort-2-field" class="form-control">
                    <option value=""></option>
                    {% for field in fields %}<option value="{{ field.name }}">{{ field.name }}</option>{% endfor %}
                </select>
                <select name="sort-2-dir" id="sort-2-dir" class="form-control">
                    <option value="">ascending</option>
                    <option value="-">descending</option>
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" style="margin-left: 80px;">Apply</button>
    </form>

    {% if default_ordering %}
        <p>
            When ordering is not specified, the default ordering is <code>{{ default_ordering }}</code>
        </p>
    {% endif %}

</div>

<script>

    {% include "django_rest_utils/functions.js" %}

    function sort() {
        var fields = [];
        for (var i = 0; i < 3; i++) {
            var field = $('#sort-' + i + '-field').val();
            var dir = $('#sort-' + i + '-dir').val();
            if (field) fields.push(dir + field);
        }
        window.location = updateQueryStringParameter('{{ ordering_param }}', fields.join(','));
    }

    document.addEventListener("DOMContentLoaded", function(event) {
        var ordering = {{ ordering|default:"[]"|safe }};
        if (ordering.length) {
            for (var i = 0; i < ordering.length; i++) {
                var field = ordering[i];
                if (field.charAt(0) == '-') {
                    $('#sort-' + i + '-field').val(field.substring(1))
                    $('#sort-' + i + '-dir').val('-');
                }
                else {
                    $('#sort-' + i + '-field').val(field)
                    $('#sort-' + i + '-dir').val('');
                }
            }
        }
    });
</script>